# Import Data and Clean/Impute

In [67]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
pd.set_option('display.max_columns', 500)

Read in files from train, test validation sets

In [68]:
# import glob
# import errno
# path = 'ICU_Mini/*.txt'
# mini_files = glob.glob(path)

In [69]:
import glob
import errno
path = 'data/set-a/*.txt'
files = glob.glob(path)

In [70]:
path = 'data/set-c/*.txt'
test_files = glob.glob(path)

In [71]:
path = 'data/set-b/*.txt'
val_files = glob.glob(path)

In [72]:
all_files = files
all_files.extend(test_files)
all_files.extend(val_files)

In [73]:
# Read in a mountain of text data!
def read_mountain_data(files):
    counts = pd.DataFrame()
    vital_means = pd.DataFrame()
    vital_std = pd.DataFrame()
    with tqdm(total=100) as pbar:
        for file in sorted(files):
            with open(file) as f:
                content = f.readlines()
            contents = [i.rstrip().split(',') for i in content]
            data = pd.DataFrame(contents[1:])
            data[2] = data[2].astype(float)
            counts = counts.append(data.drop(columns = 2).groupby(1).count().transpose(), sort=True)
            vital_means = vital_means.append(data.groupby(1).mean().transpose(), sort=True)
            pbar.update(.025)
        return [vital_means, counts]

In [74]:
# Read in standard deviations, and clean data in process
def read_standard_deviations(files):
    vital_std = pd.DataFrame()
    with tqdm(total=100) as pbar:
        for file in sorted(files):
            with open(file) as f:
                content = f.readlines()
            contents = [i.rstrip().split(',') for i in content]
            del contents[0]
            filtered = [x for x in contents if not (((x[1] == 'NIDiasABP') & (float(x[2]) < 10.))
                                        |((x[1] == 'NISysABP') & (float(x[2]) < 10.))
                                        |((x[1] == 'NIMAP') & (float(x[2]) < 10.)) 
                                       |((x[1] == 'Height') & (float(x[2]) < 90.))
                                       |((x[1] == 'Weight') & (float(x[2]) < 30.))
                                       |((x[1] == 'Gender') & (float(x[2]) < 0.)))]
            data = pd.DataFrame(filtered)
            data[2] = data[2].astype(float)
            vital_std = vital_std.append(data.groupby(1).std().transpose(), sort=True)
            pbar.update(.025)
        return vital_std

In [75]:
data = read_mountain_data(all_files)
train_data = data[0]
counts = data[1]

300.000000000001it [04:01,  1.24it/s]

In [76]:
pickle_out = open("all_feature_means.pickle","wb")
pickle.dump(train_data, pickle_out)
pickle_out.close()
pickle_out = open("all_feature_counts.pickle","wb")
pickle.dump(counts, pickle_out)
pickle_out.close()

More cleaning of impossible values: 0 Blood pressure (all patients were alive during the 48 hours, so it must simply mean a machine was disconnected).
Also, all patients were adults (at least 15 years old), so removing impossible weights/heights (under 80 cm and under 30 kg).

In [77]:
train_data.loc[(train_data.Height < 90),'Height'] = np.NaN
train_data.loc[(train_data.Gender < 0),'Gender'] = np.NaN
train_data.loc[(train_data.Weight < 30),'Weight'] = np.NaN

In [78]:
#Dropping MechVent, the training data was identical for all patients
train_data = train_data.drop(columns = 'MechVent')

In [79]:
#Merging Invasive/Noninvasive BP's by keeping invasive if available, replacing with NI only when necessary
bp = ['DiasABP','SysABP','MAP']
NIbp = ['NIDiasABP','NISysABP','NIMAP']

def merge_BP(df):
    for index, col in enumerate(bp):
        df[col].fillna(df[NIbp[index]], inplace=True)
        del df[NIbp[index]]

In [80]:
merge_BP(train_data)

In [81]:
#Removing impossibly low BP values while at it
train_data.loc[(train_data.DiasABP < 10),'DiasABP'] = np.NaN
train_data.loc[(train_data.SysABP < 10),'SysABP'] = np.NaN
train_data.loc[(train_data.MAP < 10),'MAP'] = np.NaN

In [82]:
#Read in outcomes and pretty them up for use
def find_outcomes(text):
    with open(text) as f:
        content = f.readlines()
        contents = [i.rstrip().split(',') for i in content[1:]]
    outcomes = [[i[0],i[5]] for i in contents]
    outcomes = pd.DataFrame(outcomes)
    outcomes = outcomes.rename(columns = {0:'RecordID',1:'Outcome'})
    outcomes = outcomes.astype(int)
    return outcomes

In [83]:
train_outcomes = find_outcomes('data/Outcomes-a.txt')

In [84]:
#Reducing Features down
categories = ['Age','BUN', 'Creatinine', 'DiasABP', 'FiO2', 'GCS', 'Glucose', 'HCO3',
       'HCT', 'HR', 'ICUType', 'K', 'MAP', 'Mg',
       'Na', 'PaCO2', 'PaO2', 'Platelets','Gender',
       'RecordID', 'SysABP', 'Temp', 'Urine', 'WBC', 'Weight', 'pH']

In [85]:
for_impute = train_data[categories]
for_impute.RecordID = for_impute.RecordID.astype(int)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [86]:
pickle_out = open("for_impute","wb")
pickle.dump(for_impute, pickle_out)
pickle_out.close()

In [87]:
regtrain = pd.merge(for_impute.fillna(for_impute.mean()),train_outcomes, on='RecordID')

In [88]:
pickle_out = open("regtrain.pickle","wb")
pickle.dump(regtrain, pickle_out)
pickle_out.close()

### Use MICE to impute missing data

In [89]:
pickle_in = open("for_impute","rb")
for_impute = pickle.load(pickle_in)

In [90]:
imp = IterativeImputer(max_iter=10, random_state=0)
for_impute = for_impute.drop(columns=['RecordID'])
imputed = imp.fit_transform(for_impute)
imputed = pd.DataFrame(imputed, columns=for_impute.columns)

In [91]:
pickle.dump(imp, open("imputer.p","wb"))

In [92]:
imputed

,Age,BUN,Creatinine,DiasABP,FiO2,GCS,Glucose,HCO3,HCT,HR,ICUType,K,MAP,Mg,Na,PaCO2,PaO2,Platelets,Gender,SysABP,Temp,Urine,WBC,Weight,pH
0,54.0,10.500000,0.750000,50.147059,0.550904,14.923077,160.000000,27.000000,32.500000,70.810811,4.0,4.200000,71.559118,1.700000,136.500000,45.680866,144.352932,203.000000,0.0,114.382353,37.357143,171.052632,10.300000,83.175702,7.445505
1,76.0,18.333333,1.100000,58.897059,0.560000,13.333333,125.500000,22.333333,28.655556,80.794118,2.0,3.900000,76.940299,2.300000,137.000000,38.857143,210.142857,178.600000,1.0,113.411765,36.939130,151.560976,11.266667,80.670588,7.395000
2,44.0,4.666667,0.333333,67.125000,0.500000,5.923077,134.333333,25.000000,28.460000,83.759259,3.0,4.260000,90.437500,1.720000,138.333333,35.500000,134.500000,89.666667,0.0,125.687500,37.800000,124.951220,4.700000,56.700000,7.495000
3,68.0,17.666667,0.766667,65.051724,0.599456,14.944444,117.333333,27.666667,37.442857,70.983333,3.0,4.000000,83.885517,2.033333,139.333333,43.653200,136.788088,330.000000,1.0,121.551724,36.223077,545.833333,9.400000,84.600000,7.538804
4,88.0,35.000000,1.000000,45.720930,0.554402,15.000000,102.500000,19.000000,29.550000,74.958333,3.0,4.320000,74.946512,1.550000,139.500000,34.773717,146.533925,103.000000,0.0,133.395349,36.880000,62.131579,4.300000,66.577589,7.451807
5,64.0,16.750000,0.975000,73.622222,0.466667,8.666667,204.666667,19.750000,37.225000,88.531915,1.0,4.150000,88.688889,2.000000,137.750000,35.142857,110.000000,210.750000,1.0,115.688889,37.577778,136.333333,16.100000,114.000000,7.405714
6,68.0,32.500000,3.600000,79.000000,0.510290,15.000000,105.000000,24.666667,31.600000,68.338983,3.0,3.775000,109.301887,1.900000,139.000000,40.117290,128.618458,329.666667,0.0,166.500000,36.630769,62.970588,6.366667,87.000000,7.478648
7,78.0,64.600000,0.680000,39.266667,0.536364,11.846154,126.200000,13.600000,33.233333,70.945205,3.0,4.380000,64.766667,2.633333,139.600000,30.533333,130.400000,96.333333,0.0,125.550000,37.005556,43.810811,20.000000,48.400000,7.274000
8,64.0,22.000000,0.700000,64.478261,0.615678,15.000000,112.500000,23.000000,28.300000,127.239130,3.0,4.200000,84.477391,1.650000,139.000000,40.550552,100.544280,696.000000,0.0,124.478261,36.900000,240.000000,15.200000,60.700000,7.642809
9,74.0,19.333333,1.133333,58.410714,0.633333,14.083333,110.000000,24.666667,29.100000,85.189655,2.0,4.350000,79.517857,1.800000,140.000000,44.875000,219.000000,145.666667,1.0,124.892857,36.683333,108.085106,10.166667,68.582759,7.350000
10,64.0,58.333333,1.233333,48.166667,0.642316,15.000000,114.000000,18.333333,25.025000,110.562500,3.0,4.200000,57.288136,2.900000,135.666667,34.268272,112.427976,421.250000,0.0,86.150000,36.708333,48.914286,25.700000,65.000000,7.556647
11,71.0,9.000000,0.550000,54.291667,0.700000,14.181818,135.000000,26.000000,30.750000,95.227273,2.0,4.200000,73.437500,1.500000,137.500000,37.200000,190.600000,81.500000,0.0,107.291667,37.225490,112.723404,11.350000,55.806897,7.405000
12,66.0,17.000000,1.350000,56.897436,0.700000,15.000000,107.500000,25.000000,29.050000,88.500000,3.0,3.900000,71.216216,2.250000,136.500000,41.733139,126.108599,314.000000,0.0,117.948718,36.216667,105.468750,14.450000,84.500000,7.511163
13,84.0,85.666667,3.466667,48.675000,0.595652,14.600000,175.333333,31.666667,27.566667,70.609756,1.0,3.800000,72.384615,1.933333,134.000000,49.970833,117.015786,196.000000,1.0,133.300000,37.369231,217.321429,10.066667,102.307143,7.444558
14,77.0,42.000000,1.250000,48.553571,0.567393,15.000000,154.000000,31.000000,29.850000,73.660714,1.0,4.033333,82.838214,2.150000,137.000000,49.326433,152.776903,144.500000,1.0,151.410714,36.958824,104.666667,11.900000,92.861905,7.412123
15,78.0,18.666667,1.033333,55.295775,0.620000,10.857143,119.000000,22.333333,28.783333,84.492537,2.0,4.400000,75.720588,2.500000,136.000000,37.066667,117.466667,150.500000,1.0,114.676056,36.460000,134.979167,14.875000,72.096774,7.396667
16,65.0,36.777778,2.180000,75.195652,0.553158,12.125000,195.111111,24.777778,36.000000,84.479167,3.0,3.671429,105.434783,2.133333,164.533333,50.000000,98.500000,92.500000,1.0,158.478261,37.992857,202.968750,9.850000,66.383333,7.350000
17,84.0,30.750000,1.100000,43.870370,0.602535,14.846154,165.000000,27.333333,28.722222,94.071429,3.0,4.150000,66.074074,2.175000,141.250000,46.119824,137.219724,156.800000,1.0,110.481481,36.400000,53.000000,4.240000,82.500000,7.438448
18,78.0,18.428571,1.085714,58.866667,0.681250,9.916667,157.000000,15.714286,33.355556,84.125000,3.0,3.914286,86.651163,1.757143,147.714286,35.363636,116.545455,69.571429,0.0,103.311111,37.015789,163.942857,23.550000,72.800000,7.267273
19,40.0,9.000000,0.533333,57.175439,0.633333,13.785714,105.000000,27.000000,23.940000,80.456140,2.0,3.600000,71.754386,1.900000,137.000000,51.714286,267.375000,233.750000,0.0,99.912281,37.120000,151.511628,11.300000,89.200000,7.332727
20,48.0,6.000000,2.850000,50.083333,0.575547,15.000000,86.500000,23.000000,24.450000,93.850000,3.0,3.650000,64.148611,1.300000,136.500000,37.287118,169.000169,145.750000,0.0,92.277778,37.212500,138.856102,6.275000,42.300000,7.480670
21,58.0,15.500000,0.700000,57.206349,0.550000,12.000000,155.666667,23.666667,29.800000,97.540984,2.0,4.300000,72.655738,1.966667,137.000000,44.909091,187.909091,196.666667,1.0,108.682540,37.407143,123.333333,17.933333,103.333333,7.346154
22,81.0,29.500000,1.300000,55.745098,0.543636,15.000000,134.500000,22.000000,30.050000,70.137255,3.0,4.450000,74.143529,2.300000,136.000000,37.681144,149.675204,323.500000,1.0,110.941176,36.058333,67.083333,14.650000,63.700000,7.490620
23,35.0,52.875000,1.750000,60.609756,0.603509,15.000000,220.000000,15.625000,24.212500,97.071429,3.0,4.500000,80.925610,2.087500,142.875000,31.798389,143.642678,294.333333,0.0,121.560976,36.809091,75.555556,12.966667,71.800000,7.420552
24,26.0,9.000000,0.600000,64.294157,0.534809,10.874845,100.250000,22.250000,26.700000,96.172623,3.0,4.725000,80.848951,1.650000,141.750000,35.666667,202.333333,101.571429,0.0,114.682056,37.303971,185.315451,3.833333,82.239124,7.373333
25,66.0,23.500000,4.850000,39.346154,0.574524,15.000000,90.000000,21.500000,30.566667,68.792453,3.0,3.250000,60.493077,1.500000,137.000000,35.930396,132.317106,291.500000,0.0,102.788462,36.590909,110.528391,16.000000,82.000000,7.520012
26,80.0,23.666667,0.833333,68.464789,0.493750,7.173913,156.333333,23.333333,36.850000,78.708861,4.0,3.675000,95.478873,2.033333,142.666667,28.285714,190.571429,215.500000,0.0,143.591549,37.264706,62.250000,16.800000,60.000000,7.484286
27,53.0,23.250000,0.650000,67.557692,0.560000,8.416667,109.500000,22.000000,25.150000,85.392857,4.0,3.675000,82.788462,2.050000,137.000000,32.142857,149.000000,228.500000,0.0,108.923077,37.300000,105.000000,12.125000,73.500000,7.478571
28,74.0,15.250000,1.200000,56.246154,0.514286,12.538462,139.000000,22.666667,28.720000,99.241935,2.0,5.150000,76.338462,2.300000,139.666667,39.454545,177.818182,132.333333,1.0,122.292308,37.100000,96.111111,16.933333,75.900000,7.370000
29,80.0,29.500000,1.200000,66.380000,0.942222,15.000000,139.000000,28.000000,38.900000,74.452830,3.0,3.950000,80.791667,2.200000,136.000000,37.000000,61.000000,319.000000,1.0,130.020000,37.030000,245.454545,13.350000,70.000000,7.510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11970,64.0,26.000000,5.350000,49.216667,0.568233,14.800000,88.000000,22.500000,30.640000,73.114754,2.0,4.850000,75.237288,2.100000,135.000000,40.417661,161.590128,267.666667,0.0,104.416667,36.790000,15.000000,5.000000,47.700000,7.494109
11971,69.0,20.888889,1.222222,53.818182,0.400000,13.391304,114.777778,23.444444,25.700000,106.428571,4.0,4.655556,71.909091,2.244444,137.555556,39.500000,97.500000,306.500000,0.0,100.545455,37.627778,104.090909,12.525000,78.000000,7.340000
11972,55.0,23.000000,0.857143,58.613636,0.430769,3.200000,230.000000,19.666667,36.533333,70.729167,1.0,4.137500,78.000000,1.933333,137.125000,32.000000,126.000000,310.500000,1.0,112.340909,34.593846,111.000000,9.700000,99.000000,7.404000
11973,41.0,6.750000,0.975000,66.154376,0.552941,8.692308,109.250000,31.500000,31.720000,100.687500,3.0,3.180000,83.471850,1.380000,134.750000,58.000000,94.333333,103.600000,1.0,119.240563,37.528571,134.000000,7.520000,198.900000,7.386667
11974,63.0,12.200000,0.820000,59.940299,0.700000,15.000000,151.600000,23.000000,29.833333,69.930556,4.0,4.040000,89.179104,1.760000,140.600000,34.600000,162.800000,323.666667,1.0,145.208955,37.029545,88.113636,13.066667,83.300000,7.454000
11975,60.0,63.125000,5.850000,55.313433,0.440000,7.777778,136.125000,11.625000,27.475000,84.000000,3.0,4.012500,76.865672,2.037500,141.875000,23.857143,176.142857,198.200000,0.0,119.955224,37.615000,18.717391,17.760000,98.471053,7.295000
11976,88.0,26.666667,1.566667,48.046154,0.514286,13.000000,190.666667,15.666667,29.800000,82.276923,2.0,4.966667,67.492308,2.200000,137.000000,31.166667,147.333333,185.666667,1.0,112.815385,36.968750,71.951220,16.450000,84.620000,7.343846
11977,90.0,45.200000,1.060000,46.447368,0.526671,14.300000,157.400000,26.400000,25.212500,65.657895,3.0,4.320000,75.665789,1.966667,139.200000,43.785830,156.793814,122.333333,0.0,134.105263,36.627273,93.464286,9.833333,49.500000,7.422230
11978,75.0,42.200000,1.500000,63.565217,0.750000,13.809524,121.200000,16.400000,31.720000,92.657534,4.0,3.780000,91.538462,2.120000,145.600000,24.555556,131.222222,89.600000,1.0,129.623188,37.296970,148.958333,18.540000,90.000000,7.430000
11979,57.0,8.333333,0.600000,56.200000,0.507692,8.142857,97.000000,28.333333,34.700000,66.685185,2.0,4.066667,73.222222,2.133333,140.333333,48.625000,92.250000,417.333333,1.0,105.672727,36.800000,130.326087,14.966667,77.133333,7.380000
11980,39.0,15.000000,0.566667,72.033333,0.400000,9.923077,147.000000,20.666667,22.450000,110.060000,3.0,3.333333,93.137931,1.933333,143.666667,33.500000,149.750000,47.000000,0.0,124.266667,35.480000,88.472222,11.700000,64.900000,7.440000
11981,69.0,16.000000,0.800000,67.434783,0.546667,12.400000,138.500000,33.500000,25.775000,80.560000,3.0,3.600000,90.165217,1.800000,140.000000,59.250000,80.000000,239.000000,1.0,135.630435,37.381818,83.411765,11.550000,98.546254,7.387500
11982,56.0,14.666667,0.866667,56.976190,0.591403,15.000000,120.333333,26.333333,39.766667,49.206349,1.0,4.000000,77.880952,1.900000,139.666667,41.888601,165.296030,236.666667,1.0,120.952381,36.500000,403.076923,12.233333,96.200000,7.475800
11983,84.0,89.818182,2.563636,45.951613,0.625000,11.842105,301.785714,19.750000,28.543750,76.236220,4.0,4.850000,71.032258,2.200000,137.666667,39.714286,229.428571,112.125000,1.0,127.903226,36.916667,54.790698,16.200000,103.583333,7.308667
11984,40.0,15.250000,0.500000,69.787879,0.602402,14.857143,154.000000,24.000000,25.575000,89.797101,3.0,3.480000,88.310606,1.840000,135.250000,35.309802,179.637996,44.250000,1.0,125.348485,37.037500,589.285714,0.100000,68.037143,7.428566
11985,70.0,31.428571,1.271429,50.460526,0.717647,8.692308,127.714286,20.714286,32.090000,97.051282,3.0,3.957143,78.780822,1.840000,140.857143,41.117647,147.588235,69.714286,1.0,91.118421,36.785714,36.578947,2.800000,68.100000,7.335294
11986,53.0,11.666667,0.633333,60.229730,0.594444,8.846154,128.000000,21.333333,28.450000,107.378378,4.0,3.440000,72.878378,1.675000,138.250000,32.400000,121.133333,112.166667,1.0,93.635135,37.859322,146.734694,3.700000,68.000000,7.422667
11987,36.0,3.000000,0.675000,50.956522,0.568408,11.666667,107.500000,23.500000,32.266667,85.723404,3.0,4.080000,69.956522,1.925000,137.500000,31.000000,119.000000,243.500000,0.0,107.956522,36.646154,82.179487,6.920000,57.700000,7.470000
11988,19.0,14.666667,0.900000,68.771429,0.564286,10.307692,123.666667,21.000000,35.033333,95.666667,3.0,4.433333,93.914286,1.966667,140.333333,35.428571,138.857143,176.500000,1.0,117.800000,37.380000,86.857143,11.750000,114.300000,7.398571
11989,59.0,21.666667,1.133333,48.340659,0.510000,10.923077,111.000000,25.666667,26.866667,69.644231,2.0,4.025000,63.758242,2.150000,140.000000,44.500000,151.333333,110.333333,1.0,111.219780,36.995161,116.020833,6.250000,101.566667,7.394286
11990,74.0,30.000000,2.233333,62.266667,0.408333,8.647059,54.666667,16.666667,30.016667,66.254902,4.0,3.900000,86.069767,2.066667,134.666667,29.500000,166.750000,42.800000,1.0,125.955556,35.517391,64.125000,7.250000,68.984000,7.385000
11991,65.0,30.571429,2.214286,66.730769,0.492462,5.333333,116.750000,27.250000,31.385714,78.076923,2.0,4.325000,84.666667,3.550000,142.750000,41.944444,143.125000,92.750000,1.0,119.538462,37.048052,149.882353,8.666667,75.463889,7.411111
11992,64.0,19.000000,0.600000,68.510204,0.700000,14.363636,124.666667,26.666667,39.133333,101.406780,3.0,3.366667,94.020408,2.033333,142.666667,40.333333,75.333333,277.666667,0.0,153.387755,36.850000,125.000000,22.100000,84.500000,7.456667
11993,72.0,9.000000,1.120000,52.500000,0.500000,14.272727,107.600000,17.200000,32.683333,58.054545,3.0,4.433333,83.875000,1.840000,137.200000,38.800000,150.300000,256.800000,1.0,143.964286,36.466667,114.000000,12.900000,62.000000,7.253636
11994,32.0,10.000000,0.450000,72.901639,0.360000,7.585366,130.000000,20.000000,39.050000,46.372881,4.0,3.400000,102.827586,1.900000,144.000000,32.571429,135.571429,316.000000,0.0,154.557377,37.515385,77.365854,17.500000,68.000000,7.401429
11995,61.0,11.333333,0.900000,60.029851,0.540000,10.230769,122.333333,26.666667,27.066667,84.402985,4.0,3.733333,79.983333,2.166667,144.000000,40.750000,163.125000,199.000000,0.0,135.313433,37.269231,180.000000,8.200000,85.000000,7.415000
11996,51.0,5.500000,0.500000,52.444444,0.648892,15.000000,106.500000,33.500000,48.050000,94.828571,3.0,4.050000,93.817692,1.800000,138.500000,79.000000,64.000000,155.000000,0.0,102.222222,37.220000,111.111111,5.150000,208.000000,7.316667
11997,60.0,16.500000,1.175000,55.357143,0.410000,10.074074,138.750000,25.250000,25.685714,81.358491,4.0,4.040000,75.000000,1.820000,138.500000,42.200000,137.800000,91.600000,0.0,116.857143,37.972222,124.031250,5.875000,92.703704,7.406000
11998,71.0,47.833333,2.983333,71.403846,0.648152,15.000000,197.500000,22.166667,30.725000,71.509091,1.0,5.428571,88.058824,2.283333,130.000000,37.000000,88.500000,43.750000,1.0,123.692308,35.863636,21.347826,24.085714,128.300000,7.401667
11999,74.0,13.500000,0.770000,58.925000,0.536842,7.166667,137.400000,17.200000,30.875000,79.629032,1.0,4.080000,81.179487,2.071429,124.500000,29.500000,150.400000,241.500000,0.0,100.575000,37.630769,89.486486,14.225000,73.100000,7.376364

In [93]:
pickle_out = open("imputed.pickle","wb")
pickle.dump(imputed, pickle_out)
pickle_out.close()

In [94]:
all_train = pd.concat([imputed,train_outcomes['Outcome']], axis=1)

In [95]:
pickle_out = open("all_train.pickle","wb")
pickle.dump(all_train, pickle_out)
pickle_out.close()

In [96]:
pickle_in = open("all_train.pickle","rb")
all_train = pickle.load(pickle_in)

In [97]:
all_train.columns

Index(['Age', 'BUN', 'Creatinine', 'DiasABP', 'FiO2', 'GCS', 'Glucose', 'HCO3',
       'HCT', 'HR', 'ICUType', 'K', 'MAP', 'Mg', 'Na', 'PaCO2', 'PaO2',
       'Platelets', 'Gender', 'SysABP', 'Temp', 'Urine', 'WBC', 'Weight', 'pH',
       'Outcome'],
      dtype='object')

In [100]:
x = pd.DataFrame(all_train.loc[1,:]).transpose().drop(columns=["Outcome"])
x.index=[0]
y = pd.DataFrame(pd.Series(2), columns=["RecordID"])
z = pd.DataFrame(pd.Series(1400), columns=["Timestamp"])
x = pd.concat([z,y,x], axis=1)

In [101]:
x

,Timestamp,RecordID,Age,BUN,Creatinine,DiasABP,FiO2,GCS,Glucose,HCO3,HCT,HR,ICUType,K,MAP,Mg,Na,PaCO2,PaO2,Platelets,Gender,SysABP,Temp,Urine,WBC,Weight,pH
0,1400,2,76.0,18.333333,1.1,58.897059,0.56,13.333333,125.5,22.333333,28.655556,80.794118,2.0,3.9,76.940299,2.3,137.0,38.857143,210.142857,178.6,1.0,113.411765,36.93913,151.560976,11.266667,80.670588,7.395

In [102]:
x.to_csv("data.csv",index=None)

In [104]:
x = pd.read_csv("data.csv")

In [105]:
x.columns

Index(['Timestamp', 'RecordID', 'Age', 'BUN', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Glucose', 'HCO3', 'HCT', 'HR', 'ICUType', 'K', 'MAP', 'Mg',
       'Na', 'PaCO2', 'PaO2', 'Platelets', 'Gender', 'SysABP', 'Temp', 'Urine',
       'WBC', 'Weight', 'pH'],
      dtype='object')

In [106]:
x

,Timestamp,RecordID,Age,BUN,Creatinine,DiasABP,FiO2,GCS,Glucose,HCO3,HCT,HR,ICUType,K,MAP,Mg,Na,PaCO2,PaO2,Platelets,Gender,SysABP,Temp,Urine,WBC,Weight,pH
0,1400,2,76.0,18.333333,1.1,58.897059,0.56,13.333333,125.5,22.333333,28.655556,80.794118,2.0,3.9,76.940299,2.3,137.0,38.857143,210.142857,178.6,1.0,113.411765,36.93913,151.560976,11.266667,80.670588,7.395

In [107]:
x['Glucose'].isnull()[0]

False

In [110]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
import pickle as p

def scale(X_train, X_test, X_val = np.empty([0,])):
    std=p.load(open("scaler.p","rb"))
    X_tr = std.transform(X_train.values)
    X_te = std.transform(X_test.values)
    
    #When I want to test the set and the data
    if X_val.size != 0 :
        X_va = std.transform(X_val.values)
        return X_tr, X_te, X_va
    return X_tr, X_te

def predict():
    data = pd.read_csv("data.csv")
#     print(data)
    timestamp = data['Timestamp'][0]
    mif = p.load(open("mif.p","rb"))
    missing_iv = []
    for vital in mif:
        if data[vital].isnull()[0]==True:
            missing_iv.append(vital)
    data = data.drop(columns=['Timestamp', 'RecordID'])
    data.loc[(data.Gender < 0),'Gender'] = np.NaN
    data.loc[(data.Weight < 30),'Weight'] = np.NaN
    data.loc[(data.DiasABP < 10),'DiasABP'] = np.NaN
    data.loc[(data.SysABP < 10),'SysABP'] = np.NaN
    data.loc[(data.MAP < 10),'MAP'] = np.NaN
    imp=p.load(open("imputer.p","rb"))
    data_t = imp.transform(data)
    data_t = pd.DataFrame(data_t, columns=data.columns)
    data_t, data_t = scale(data_t, data_t)
    model = p.load(open("XGB.pickle.dat","rb"))
    outcome = (model.predict_proba(data_t)[:, 1] >= .311)
    if outcome==True:
        time_p = "The patient is still in a critical stage. Right now, the most accurate prediction in terms of survival cannot be made."
    else:
        time_p = "The patient can now safely survive according to the given vital. This is after "+str(timestamp)+" hrs post admission"
    prob = model.predict_proba(data_t)
    return [outcome[0],prob[0, 1], missing_iv, time_p]

In [111]:
o,p,y,w = predict()

In [112]:
w

'The patient can now safely survive according to the given vital. This is after 1400 hrs post admission'

In [114]:
p

0.008871699

In [ ]:
def predict():
    data = pd.read_csv("master.csv")
    recordID = 1
    record_data= data.loc['RecordID'==1,:].mean
    timestamp = data['Timestamp'][0]
    mif = p.load(open("mif.p","rb"))
    missing_iv = []
    for vital in mif:
        if data[vital].isnull()[0]==True:
            missing_iv.append(vital)
    data = data.drop(columns=['Timestamp', 'RecordID'])
    data.loc[(data.Gender < 0),'Gender'] = np.NaN
    data.loc[(data.Weight < 30),'Weight'] = np.NaN
    data.loc[(data.DiasABP < 10),'DiasABP'] = np.NaN
    data.loc[(data.SysABP < 10),'SysABP'] = np.NaN
    data.loc[(data.MAP < 10),'MAP'] = np.NaN
    imp=p.load(open("imputer.p","rb"))
    data_t = imp.transform(data)
    data_t = pd.DataFrame(data_t, columns=data.columns)
    data_t, data_t = scale(data_t, data_t)
    model = p.load(open("XGB.pickle.dat","rb"))
    outcome = (model.predict_proba(data_t)[:, 1] >= .311)
    if outcome==True:
        time_p = "The patient is still in a critical stage. Right now, the most accurate prediction in terms of survival cannot be made."
    else:
        time_p = "The patient can now safely survive according to the given vital. This is after "+str(timestamp)+" hrs post admission"
    prob = model.predict_proba(data_t)
    return [outcome[0],prob[0, 1], missing_iv, time_p]

In [135]:
recordID = 1
master = pd.read_csv("master.csv")
data = master[master['RecordID']==recordID]

In [60]:
data = pd.DataFrame(data.mean()).transpose()

In [61]:
ts = data['Timestamp'].tolist()

In [62]:
ts = sorted(ts)

In [63]:
timestamp = ts[-1]

In [136]:
data

,Timestamp,RecordID,Age,BUN,Creatinine,DiasABP,FiO2,GCS,Glucose,HCO3,HCT,HR,ICUType,K,MAP,Mg,Na,PaCO2,PaO2,Platelets,Gender,SysABP,Temp,Urine,WBC,Weight,pH
0,1200,1,44,4.666667,0.333333,67.125,0.5,5.923077,NaN,25,28.46,83.759259,3,4.26,90.4375,NaN,138.333333,35.5,134.5,89.666667,0,125.6875,37.8,124.951219,NaN,56.7,7.495
1,1200,1,44,4.666667,0.333333,67.125,0.5,5.923077,NaN,25,28.46,83.759259,3,4.26,90.4375,NaN,138.333333,35.5,134.5,89.666667,0,125.6875,37.8,124.951219,NaN,56.7,7.495

In [137]:
data.transpose().to_html(classes='table table-striped" id= "a_nice_table', border=0, header=None, bold_rows=True)

'<table border="0" class="dataframe table table-striped" id = "a_nice_table">\n  <tbody>\n    <tr>\n      <th>Timestamp</th>\n      <td>1200.000000</td>\n      <td>1200.000000</td>\n    </tr>\n    <tr>\n      <th>RecordID</th>\n      <td>1.000000</td>\n      <td>1.000000</td>\n    </tr>\n    <tr>\n      <th>Age</th>\n      <td>44.000000</td>\n      <td>44.000000</td>\n    </tr>\n    <tr>\n      <th>BUN</th>\n      <td>4.666667</td>\n      <td>4.666667</td>\n    </tr>\n    <tr>\n      <th>Creatinine</th>\n      <td>0.333333</td>\n      <td>0.333333</td>\n    </tr>\n    <tr>\n      <th>DiasABP</th>\n      <td>67.125000</td>\n      <td>67.125000</td>\n    </tr>\n    <tr>\n      <th>FiO2</th>\n      <td>0.500000</td>\n      <td>0.500000</td>\n    </tr>\n    <tr>\n      <th>GCS</th>\n      <td>5.923077</td>\n      <td>5.923077</td>\n    </tr>\n    <tr>\n      <th>Glucose</th>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>HCO3</th>\n      <td>25.000000</td>\n      <td>25.000000</td>\n    </tr>\n    <tr>\n      <th>HCT</th>\n      <td>28.460000</td>\n      <td>28.460000</td>\n    </tr>\n    <tr>\n      <th>HR</th>\n      <td>83.759259</td>\n      <td>83.759259</td>\n    </tr>\n    <tr>\n      <th>ICUType</th>\n      <td>3.000000</td>\n      <td>3.000000</td>\n    </tr>\n    <tr>\n      <th>K</th>\n      <td>4.260000</td>\n      <td>4.260000</td>\n    </tr>\n    <tr>\n      <th>MAP</th>\n      <td>90.437500</td>\n      <td>90.437500</td>\n    </tr>\n    <tr>\n      <th>Mg</th>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Na</th>\n      <td>138.333333</td>\n      <td>138.333333</td>\n    </tr>\n    <tr>\n      <th>PaCO2</th>\n      <td>35.500000</td>\n      <td>35.500000</td>\n    </tr>\n    <tr>\n      <th>PaO2</th>\n      <td>134.500000</td>\n      <td>134.500000</td>\n    </tr>\n    <tr>\n      <th>Platelets</th>\n      <td>89.666667</td>\n      <td>89.666667</td>\n    </tr>\n    <tr>\n      <th>Gender</th>\n      <td>0.000000</td>\n      <td>0.000000</td>\n    </tr>\n    <tr>\n      <th>SysABP</th>\n      <td>125.687500</td>\n      <td>125.687500</td>\n    </tr>\n    <tr>\n      <th>Temp</th>\n      <td>37.800000</td>\n      <td>37.800000</td>\n    </tr>\n    <tr>\n      <th>Urine</th>\n      <td>124.951219</td>\n      <td>124.951219</td>\n    </tr>\n    <tr>\n      <th>WBC</th>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>Weight</th>\n      <td>56.700000</td>\n      <td>56.700000</td>\n    </tr>\n    <tr>\n      <th>pH</th>\n      <td>7.495000</td>\n      <td>7.495000</td>\n    </tr>\n  </tbody>\n</table>'

In [134]:
print(x)

<table border="0" class="dataframe table table-striped" id = "a_nice_table">
  <tbody>
    <tr>
      <th>Timestamp</th>
      <td>1200.000000</td>
      <td>1200.000000</td>
    </tr>
    <tr>
      <th>RecordID</th>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>44.000000</td>
      <td>44.000000</td>
    </tr>
    <tr>
      <th>BUN</th>
      <td>4.666667</td>
      <td>4.666667</td>
    </tr>
    <tr>
      <th>Creatinine</th>
      <td>0.333333</td>
      <td>0.333333</td>
    </tr>
    <tr>
      <th>DiasABP</th>
      <td>67.125000</td>
      <td>67.125000</td>
    </tr>
    <tr>
      <th>FiO2</th>
      <td>0.500000</td>
      <td>0.500000</td>
    </tr>
    <tr>
      <th>GCS</th>
      <td>5.923077</td>
      <td>5.923077</td>
    </tr>
    <tr>
      <th>Glucose</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>HCO3</th>
      <td>25.000000</td>
      <td>25.000000</td>
    </tr>
    <tr>
      <th>HCT</th>
      <td>28.460000</td>
      <td>28.460000</td>
    </tr>
    <tr>
      <th>HR</th>
      <td>83.759259</td>
      <td>83.759259</td>
    </tr>
    <tr>
      <th>ICUType</th>
      <td>3.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>K</th>
      <td>4.260000</td>
      <td>4.260000</td>
    </tr>
    <tr>
      <th>MAP</th>
      <td>90.437500</td>
      <td>90.437500</td>
    </tr>
    <tr>
      <th>Mg</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Na</th>
      <td>138.333333</td>
      <td>138.333333</td>
    </tr>
    <tr>
      <th>PaCO2</th>
      <td>35.500000</td>
      <td>35.500000</td>
    </tr>
    <tr>
      <th>PaO2</th>
      <td>134.500000</td>
      <td>134.500000</td>
    </tr>
    <tr>
      <th>Platelets</th>
      <td>89.666667</td>
      <td>89.666667</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>SysABP</th>
      <td>125.687500</td>
      <td>125.687500</td>
    </tr>
    <tr>
      <th>Temp</th>
      <td>37.800000</td>
      <td>37.800000</td>
    </tr>
    <tr>
      <th>Urine</th>
      <td>124.951219</td>
      <td>124.951219</td>
    </tr>
    <tr>
      <th>WBC</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Weight</th>
      <td>56.700000</td>
      <td>56.700000</td>
    </tr>
    <tr>
      <th>pH</th>
      <td>7.495000</td>
      <td>7.495000</td>
    </tr>
  </tbody>
</table>